footer{
    background-color:var(--nav-color);
    width: 100%;
    min-height:250px;
    padding-top:2.5%;
    display:flex;
    justify-content: space-around;	
    margin-top:2.5vh;
    width: 100%;
    color: white;
    }
.footer-informacion-contenido{
    font-size:1.5rem;
}
.redes-sociales-titulo{
        font-size:1.5rem;
        color:var(--informacion-titulo);
        font-family: 'Noto Sans',sans-serif
}
.redes-sociales-iconos{
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
}
@media (max-width:1000px){
    footer{
        grid-template-columns: 50 50 ;
        text-align: center;
    }
    .redes-sociales-titulo{
        font-size: 1rem;
    }
    .footer-informacion-contenido{
        text-align: left;
    }
    
}
@media (max-width:750px){
    footer{
        flex-direction: column;
        gap: 5vh;
    }
    .footer-informacion{
        margin-bottom: 5%;
    }
    .footer-informacion-contenido{
        width: 50%;
        margin:0 auto;
        min-width: 250px;
    }
    .redes-sociales-iconos{
        margin-top: 5%;
    }
}