.informacion{
    width: 100%;
    height: 500px;
    background-color: #2196f3;
    position:relative;
    margin-top:10%;
}
.ola{
    position: absolute;
    top:-65%;
    width: 6000px;
    height: 100%;
    position: absolute;
    background-image: url(../Imagenes/Main/wd1.svg);
    background-position: bottom;
    transform: scaleY(-1);
}
.ola_1{
    animation:w1 10s linear infinite;
}
@keyframes w1{
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1600px;
    }
}
.ola_2{
    animation:w2 9.5s linear infinite,desplazamiento 7s ease infinite;
    opacity: 0.5;
    top:-66%;
}
@keyframes w2{
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1600px;
    }
}
@keyframes desplazamiento{
    0%,100%{
        transform:translateY(-25px);
        transform: scaleY(-1);
}
    50%{
        transform: translateY(10px);
        transform: scaleY(-1);
}
}


























































@media (max-width:2000px){
    .informacion{
        margin-top:15%;
    }
}
@media (max-width:1500px){
    .informacion{
        margin-top:20%;
    }
}
@media (max-width:1000px){
    .informacion{
        margin-top:30%;
    }
}
@media (max-width:700px){
    .informacion{
        margin-top:40%;
    }
}
@media (max-width:450px){
    .informacion{
        margin-top:45%;
    }
}
@media (max-width:390px){
    .informacion{
        margin-top:50%;
    }
}
@media (max-width:280px){
    .informacion{
        margin-top:70%;
    }
}
@media (max-width:200px){
    .informacion{
        margin-top:80%;
    }
}