@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
.presentacion-img{
    width: 80%;
    max-width: 500px;
}
.presentacion-img:hover{
    transform: scale(1.1);
}
.presentacion{
    text-align: center;
    margin:0 auto;
}
.presentacion-info{
    margin-bottom: 25px;
}
.presentacion-titulo{
    font-size: 2.5rem;
    font-weight: bold;
    margin:0;
    color:#1457BF;
    font-family: 'Noto Sans',sans-serif;
}
.presentacion-detalles{
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.3;
    max-width: 450px;
    margin:20px auto;
}
.padding-horizontal{
    padding-left: 30px;
    padding-right: 30px;
} 
.padding-vertical{
    padding-top:30px;
    padding-bottom: 30px;
}
@media(min-width:1000px){
    .padding-horizontal{
        padding-left: 70px;
        padding-right: 70px;
    } 
    .padding-vertical{
        padding-top:70px;
        padding-bottom:70px;
    }
    .presentacion-img{
        width: 100%;
        max-width: 700px;
    }
    .presentacion{
        text-align: left;
        display:flex;
        justify-content: space-between;
        max-width: 1500px;
        align-items: center;
    }
    .presentacion-info{
        margin-bottom: 0;
    }
    .presentacion-titulo{
        font-size: 3.5rem;
    }
    .presentacion-detalles{
        font-size: 1.5rem;
        margin:40px 0;
    }
}
@media (max-width:2000px){
    section{
        padding-top: 2.5%;
    }
}
@media (max-width:1500px){
    section{
        padding-top: 5%;
    }
}
@media (max-width:1000px){
    section{
        padding-top:10%;
    }
}
@media (max-width:500px){
    section{
        padding-top: 15%;
    }
}
@media (max-width:390px){
    section{
        padding-top:20%;
    }
}
@media (max-width:280px){
    section{
        padding-top: 30%;
    }
}
@media (max-width:200px){
    section{
        padding-top: 40%;
    }
}