:root{
    --nav-color:#2393FA;
    --informacion-color:#2393FA;
    --informacion-titulo:#f7c331;
    --nav-hover:#034574;
}
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    padding-top:5%;
}
.header{
    background-color: var(--nav-color);
    height: 86px;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
}
.nav{
    display:flex;
    justify-content: space-between;
    height: 100%;
    max-width: 80%;
    margin:0 auto; 
    z-index: 99;   
}
.nav-link{
    color:white;
    text-decoration: none;
}
.logo{
    margin-left: -5%;
    padding-top:15px;
    line-height: 86px;
    width: max-content;  
}
.logo img{
    max-height:75%; 
}
.nav-menu{
    display:flex;
    list-style:none;
    margin-right:40px;
}
.nav-menu-item{
    font-size: 1.5rem;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}
.nav-menu-link:hover, .nav-menu-link_active{
    background-color: var(--nav-hover);
    transition: 0.75s;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius:3px;
}
.nav-toggle{
    color:white;
    background: none;
    border:none;
    font-size: 2rem;
    padding: 0 20px;
    line-height: 60px;
    display:none;
}
@media (max-width:750px){
    section{
        padding-top: 5%;
    }
    .header{
        height: 60px;
    }
    .logo{
        padding-left: 2.5%;
        padding-top:7.5px;
        line-height: 60px; 
        width: 50%;
    }
    .logo img{
        max-height:75%; 
    }
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right:0;
        background-color: #2c3e50;
        position:fixed;
        left:0;
        top:60px;
        width: 100%;
        padding:20px 0;
        height: calc(100%-60px);
        overflow-y: auto;
        left:0;
        transition:0.5s;
    }
    .nav-menu-item{
        line-height: 70px;     
    }
    .nav-menu-link:hover, .nav-menu-link_active{
        background:none;
        transition: 0.5s;
        color:var(--nav-color);
    }
    .nav-toggle{
        display:block;
    }
    .nav-menu-visible{
        left:100%;
    }
}
@media (max-width:300px){
    section{
        padding-top: 20%;
    }
}