section{
    margin:0 auto;
    width: 25%;
    margin-top:15% ;
    margin-bottom: 20%;
    border: 1px solid;
    align-items: center;
}
form{
    margin:10% auto;
    width: 50%;
    align-items: center;
}
h1{
    text-align: center;
}